<footer class="@@el footer">
  <div class="container container--size-md footer__container">
    <div class="footer__main">
      <a href="/" class="logo logo--size-lg logo--theme-white footer__logo">
        <span class="logo__inner">
          <picture class="logo__picture">
            <img src="images/logo-white.svg" alt="Quill AI">
          </picture>
          <span class="logo__title">Quill AI</span>
        </span>
      </a>
      <div class="footer__nav-wrapper">
        <nav class="footer__nav footer__nav--main" role="navigation">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="/#projects-section" class="js-anchor footer__nav-link">Последние проекты</a>
            </li>
            <li class="footer__nav-item">
              <a href="project_topics.html" class="footer__nav-link">Темы проектов</a>
            </li>
            <li class="footer__nav-item">
              <a href="/#faq" class="js-anchor footer__nav-link">FAQ</a>
            </li>
          </ul>
        </nav>
        <nav class="footer__nav footer__nav--submain" role="navigation">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="privacy.html" class="footer__nav-link">Политика конфиденциальности</a>
            </li>
            <li class="footer__nav-item">
              <a href="terms.html" class="footer__nav-link">Условия использования</a>
            </li>
            <li class="footer__nav-item">
              <a href="offer.html" class="footer__nav-link">Договор оферты</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <p class="footer__copyright">© 2024 Quill AI. Все права защищены</p>
  </div>
</footer>