<header class="@@el header">
  <div class="container container--size-md header__container">
    <a href="/" class="logo logo--size-md logo--theme-black header__logo">
      <span class="logo__inner">
        <picture class="logo__picture">
          <img src="images/logo-black.svg" alt="Quill AI">
        </picture>
        <span class="logo__title">Quill AI</span>
      </span>
    </a>
    <div class="header__dropdown">
      <nav class="u-nav header__nav" role="navigation">
        <ul class="u-nav__list">
          <li class="u-nav__item">
            <a href="#projects-section" class="js-anchor u-nav__link">Последние проекты</a>
          </li>
          <li class="u-nav__item">
            <a href="project_topics.html" class="u-nav__link">Темы проектов</a>
          </li>
          <li class="u-nav__item">
            <a href="#faq" class="js-anchor u-nav__link">FAQ</a>
          </li>
        </ul>
      </nav>
      <div class="btn-group header__btn-group">
        <div class="btn-group__inner">
          <div class="btn-group__col">
            <button type="button" data-modal="popup-login" class="btn btn--size-md btn--theme-black-fill btn-group__item">
              <span class="btn__inner">
                <span class="btn__title">Войти</span>
              </span>
            </button>
          </div>
          <div class="btn-group__col">
            <button type="button" data-modal="popup-registration" class="btn btn--size-md btn--theme-accent-gradient-fill btn-group__item">
              <span class="btn__inner">
                <span class="btn__title">Регистрация</span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="js-header-toggle d-lg-block toggle-nav header__toggle">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div class="js-header-toggle-close header__overlay"></div>
</header>